<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)='openBrowser()'>Open Browser</ion-button>
  <ion-button (click)='takePicture()'>Take Picture</ion-button>
  <ion-button (click)='openSettings()'>Open Settings</ion-button>
  <img [src]="image">
  <ion-list>
    <ion-item *ngFor="let c of contacts">
      <ion-label>{{c.displayName}}
        <p>
          {{c.phoneNumbers[0]}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>